body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

.input-container {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

button {
  margin: 10px;
  padding: 8px 16px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color:lightgreen;
}
.heading {
  text-align: center;
}
.delete-btn {
  background-color: red;
}
.todo-list {
  list-style: none;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.todo-item:last-child {
  border-bottom: none;
}

.completed {
  text-decoration: line-through;
  color:red;
}

.edit-input {
  flex: 1;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.edit-buttons {
  display: flex;
  align-items: center;
}

.edit-buttons button {
  margin-right: 10px;
  font-size: 12px;
  padding: 6px 12px;
}

.filter-container {
  text-align: center;
  margin-bottom: 20px;
}

.filter-checkbox {
  margin-left: 5px;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
}